.signinpage {
    font-family: arial, sans-serif;


    .new_to_amazon {
        position: relative;
        color: rgb(152, 148, 148);

        &::after {
            content: url("");
            position: absolute;
            top: 14px;
            right: -131px;
            background-color: rgb(202, 199, 199);

            width: 124px;
            height: 0.1px;
        }

        &::before {
            content: url("");
            position: absolute;
            top: 13px;
            left: -132px;
            background-color: rgb(202, 199, 199);
            width: 124px;
            height: 0.1px;
        }


    }
}

header {
    display: none;
}

.signup_form_mobile {
    // width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .signup_form_big_screen {
        border: 1px solid rgb(206, 205, 205);
    }
}

.telephonenum_list_wrapper {
    background-color: rgba(0, 0, 0, 0.7);

    .telephonenum_list_wrapper_container {
        top: calc(50% - 185px);
        left: calc(50% - 31.9%);
    }
}


//footer


.signinpage {
    footer {
        padding-top: 48px;
        height: max-content;
        padding: 3px;
        background-color: white;

        .footer_logo {
            display: none;
        }

        .append_lines {

            .footer_links {
                padding-bottom: 5px;

                p {
                    font-size: 15px !important;
                }

                margin-bottom: 5px;
            }

            .copyright span {
                margin-top: 12px;
                line-height: 16px;
                font-size: 11px !important;
            }
        }
    }
}




@media (min-width:669px) {
    .signinpage {

        footer {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
            height: 113px;
            padding-top: 27px;

            .append_lines {
                margin-top: 4px !important;
                gap: 5px;

                .footer_links {
                    margin: 0px 13px 0px 0px;
                    margin-bottom: initial;

                    p {
                        font-size: 12px !important;
                        letter-spacing: 0px;

                    }
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

@media (min-width:1024px) {
    .signinpage {
        footer {
            height: 110px;

            .append_lines {
                margin-top: 4px !important;

                .footer_links {
                    margin-bottom: initial;
                }

            }

        }
    }
}