.signinpage {
    font-family: arial, sans-serif;

    .signinpage_logo {
        background: linear-gradient(to top, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 1px, transparent);
        width: 100%;
    }

    .createaccount_mobile {
        .createAccount_title {
            background: linear-gradient(to top, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 1px, transparent);
            padding-bottom: 8px;
        }
    }

    .signin_mobile {
        .already_customer {
            background: linear-gradient(to top, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 1px, transparent);
        }
    }

    .new_to_amazon {
        position: relative;
        color: rgb(116, 114, 114);

        &::after {
            content: url("");
            position: absolute;
            top: 12px;
            right: -131px;
            background-color: rgb(223, 219, 219);

            width: 124px;
            height: 0.1px;
        }

        &::before {
            content: url("");
            position: absolute;
            top: 12px;
            left: -132px;
            background-color: rgb(223, 219, 219);

            width: 124px;
            height: 0.1px;
        }


    }
}

// header {
//     display: none;
// }

.signup_form_mobile {
    // width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .signup_form_big_screen {
        border: 1px solid rgb(206, 205, 205);
    }

}

.signinbyuser_form {
    .blue_input {
        border: 1px solid black;
        border-radius: 3px;
        filter: drop-shadow(1px 1px 3px rgb(86, 210, 248));

        input {
            border-radius: 2px;
            filter: drop-shadow(-1px -1px 3px rgb(86, 210, 248));
            width: 100%;
        }
    }

}

.telephonenum_list_wrapper {
    background-color: rgba(0, 0, 0, 0.7);

    .telephonenum_list_wrapper_container {
        top: calc(50% - 185px);
        left: calc(50% - 31.9%);
    }
}

.create_your_amazon_button {
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
    border: 0.3px solid rgb(216, 215, 215);
}

//footer


.signinpage {
    footer {
        padding-top: 48px;
        height: max-content;
        padding: 3px;
        background-color: white;

        .footer_logo {
            display: none;

        }

        .append_lines {

            .footer_links {
                padding-bottom: 5px;

                p {
                    font-size: 15px !important;
                }

                margin-bottom: 5px;
            }

            .copyright span {
                margin-top: 12px;
                line-height: 16px;
                font-size: 11px !important;
            }
        }
    }
}




@media (min-width:669px) {
    .signinpage {
        footer {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
            height: 113px;
            padding-top: 27px;

            .append_lines {
                margin-top: 4px !important;
                gap: 5px;

                .footer_links {
                    margin: 0px 13px 0px 0px;
                    margin-bottom: initial;

                    p {
                        font-size: 12px !important;
                        letter-spacing: 0px;

                    }
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

@media (min-width:1024px) {
    .signinpage {
        footer {
            height: 110px;

            .append_lines {
                margin-top: 4px !important;

                .footer_links {
                    margin-bottom: initial;
                }

            }

        }
    }
}

.signup_form_mobile_big_page {
    .blue_input {
        border-radius: 3px;
        filter: drop-shadow(0px 0px 3px rgb(86, 210, 248));

        input {
            border: 1px solid black;
            border-radius: 2px;
            filter: drop-shadow(0px 0px 3px rgb(86, 210, 248));
            width: 100%;
        }
    }

    .signin_terms_conditions {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 1px, transparent);
        margin-right: calc(23px + -67px + 10px + 9px);
        margin-left: calc(7px - 10px - 10px);
        text-align: left;
        padding-left: 10px;
    }
}


//footer signup page

//footer


.signup_form_mobile_big_page {
    .signup_form_mobile_big {
        margin-bottom: 24px;
        footer {
            padding-top: 48px;
            height: max-content;
            padding: 3px;
            background-color: white;

            .footer_logo {
                display: none;

            }

            .append_lines {

                .footer_links {
                    padding-bottom: 5px;

                    p {
                        font-size: 15px !important;
                    }

                    margin-bottom: 5px;
                }

                .copyright span {
                    margin-top: 12px;
                    line-height: 16px;
                    font-size: 11px !important;
                }
            }
        }
    }
}




@media (min-width:669px) {
    .signup_form_mobile_big_page {
        footer {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
            height: 113px;
            padding-top: 27px;

            .append_lines {
                margin-top: 4px !important;
                gap: 5px;

                .footer_links {
                    margin: 0px 13px 0px 0px;
                    margin-bottom: initial;

                    p {
                        font-size: 12px !important;
                        letter-spacing: 0px;

                    }
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

@media (min-width:1024px) {
    .signup_form_mobile_big_page {
        footer {
            height: 110px;

            .append_lines {
                margin-top: 4px !important;

                .footer_links {
                    margin-bottom: initial;
                }

            }

        }
    }
}