@media (min-width: 440px) {
  .search_page .search_movies_list_mobile .search_movies_list_wrapper_mobile .search_movie_image {
    max-width: 140px;
  }
  .search_page .search_movies_list_mobile .search_movies_list_wrapper_mobile .search_movie_image img {
    width: 100%;
  }
  .search_page .search_movies_list_mobile .search_movies_list_wrapper_mobile h1 {
    font-size: 17px !important;
    margin-bottom: 12px;
  }
}
.search_page .search_filter {
  font-family: amazonEmberbold;
}
.search_page .search_movies_list_wrapper .movie_item:hover .detail_movie_detail_search {
  height: 260px;
}
.search_page .search_movies_list_wrapper .detail_movie_detail_search {
  height: 0px;
  background-color: black;
}
.search_page .popupbox_search_result_page {
  background-color: rgba(12, 12, 12, 0.5);
}

@media (min-width: 660px) {
  .search_page {
    padding: 0px 32px !important;
  }
  .search_page .search_filter .filter_content {
    display: flex;
    justify-content: flex-end;
  }
  .search_page .search_filter .filter_content button {
    max-width: 85px;
  }
  .search_page .results_for {
    font-size: 18px;
  }
}
@media (min-width: 880px) {
  .search_page {
    padding: 0px 44px !important;
  }
  .search_page .search_filter .filters_options {
    display: block;
    padding-top: 12px;
  }
  .search_page .search_filter .filters_options .buttons {
    display: flex;
    gap: 20px;
  }
  .search_page .search_filter .filters_options .buttons button {
    max-width: -moz-max-content;
    max-width: max-content;
    text-wrap: nowrap;
  }
  .search_page .search_filter .filters_options div button:hover svg {
    fill: black;
  }
  .search_page .search_filter .filter_content {
    display: none;
  }
}
@media (min-width: 1024px) {
  .search_page {
    padding: 0px 44px !important;
  }
  .search_page .search_filter .filters_options {
    display: block;
  }
  .search_page .search_filter .filters_options .buttons {
    display: flex;
    gap: 20px;
  }
  .search_page .search_filter .filters_options .buttons button {
    max-width: -moz-max-content;
    max-width: max-content;
    text-wrap: nowrap;
  }
  .search_page .search_filter .filter_content {
    display: none;
  }
}
@media (min-width: 1280px) {
  .search_page {
    padding: 10px 64px !important;
  }
  .search_page .search_filter .filters_options {
    display: block;
  }
  .search_page .search_filter .filters_options .buttons {
    display: flex;
    gap: 20px;
  }
  .search_page .search_filter .filters_options .buttons button {
    max-width: -moz-max-content;
    max-width: max-content;
    text-wrap: nowrap;
  }
  .search_page .search_filter .filter_content {
    display: none;
  }
  .search_page .more_videos {
    font-size: 17px;
    letter-spacing: 1px;
  }
}
@media (min-width: 447px) {
  .search_page .search_filter {
    font-family: amazonEmberbold;
  }
  .search_page .search_movies_list_wrapper .movie_item:hover .detail_movie_detail_search {
    height: 260px;
  }
  .search_page .search_movies_list_wrapper .detail_movie_detail_search {
    height: 0px;
    background-color: black;
  }
  .search_page .popupbox_search_result_page {
    background-color: rgba(12, 12, 12, 0.5);
  }
  .search_page .popupbox_search_result_page .popupbox_search_result_page_container {
    top: 100px;
    left: calc(50% - 140px - 16px);
    width: initial;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}/*# sourceMappingURL=searchscroller.css.map */