@media(min-width:440px) {
    .search_page {
        .search_movies_list_mobile {
            .search_movies_list_wrapper_mobile {
                .search_movie_image {
                    // max-width: 140px;

                    img {
                        width: 100%;
                    }
                }

                h1 {
                    font-size: 17px !important;
                    margin-bottom: 12px;
                }

            }

        }

    }
}

.search_page {
    .search_filter {
        font-family: amazonEmberbold;
    }

    .search_movies_list_wrapper {
        .movie_item {
            &:hover .detail_movie_detail_search {
                height: 260px;
            }
        }

        .detail_movie_detail_search {
            height: 0px;
            background-color: black;
        }
    }

    .popupbox_search_result_page {
        background-color: rgba(12, 12, 12, 0.5);
    }

    .mobile_search_results {
        grid-template-columns: 260px 120px;
        display: grid;
    }
}

@media (min-width:768px) {

    .search_page {
        .mobile_search_results {
            grid-template-columns: 330px 120px;
        }
    }

}


@media (min-width:660px) {
    .search_page {
        padding: 0px 32px !important;

        .search_filter {
            .filter_content {
                display: flex;
                justify-content: flex-end;

                button {
                    max-width: 85px;
                    height: 53px;
                    padding: 0px 0px;
                    font-size: 17px;
                }
            }
        }

        .results_for {
            font-size: 17px;
            margin-bottom: 32px;
        }

        .moreVideos {
            font-size: 18px;
        }
    }
}

@media (min-width:880px) {
    .search_page {
        padding: 0px 44px !important;

        .search_filter {
            .filters_options {
                display: block;
                padding-top: 5px;

                .buttons {
                    display: flex;
                    gap: 20px;

                    button {
                        max-width: max-content;
                        text-wrap: nowrap;

                    }
                }

                div {
                    button {
                        &:hover {
                            svg {
                                fill: black;
                            }
                        }
                    }
                }

            }

            .filter_content {
                display: none;
            }
        }

        .results_for {
            font-size: 17px;
            margin-bottom: 47px;
            margin-top: -6px;
        }
    }
}




@media (min-width:1024px) {
    .search_page {
        padding: 0px 44px !important;

        .search_filter {
            .filters_options {
                display: block;

                .buttons {
                    display: flex;
                    gap: 20px;

                    button {
                        max-width: max-content;
                        text-wrap: nowrap;
                        // padding: 15px 30px;
                    }
                }


            }

            .filter_content {
                display: none;
            }
        }
    }
}



@media (min-width:1280px) {
    .search_page {
        padding: 10px 72px !important;

        .search_filter {
            margin-top: 9px;
            margin-bottom: 88px;

            .filters_options {
                display: block;

                .buttons {
                    display: flex;
                    gap: 20px;

                    button {
                        max-width: max-content;
                        text-wrap: nowrap;
                        // padding: 15px 17px;
                    }
                }


            }

            .filter_content {
                display: none;
            }
        }

        .more_videos {
            font-size: 19px;
            letter-spacing: 1px;

        }
        .results_for {
            font-size: 19px;
            margin-bottom: 64px;
            margin-top: -16px;
        }
    }
}




// popupb box

@media (min-width:447px) {
    .search_page {
        .search_filter {
            font-family: amazonEmberbold;
        }

        .search_movies_list_wrapper {
            .movie_item {
                &:hover .detail_movie_detail_search {
                    height: 260px;
                }
            }

            .detail_movie_detail_search {
                height: 0px;
                background-color: black;
            }
        }

        .popupbox_search_result_page {
            background-color: rgba(12, 12, 12, 0.5);

            .header_popup {
                gap: 210px;
            }

            .popupbox_search_result_page_container {
                top: 100px;
                left: calc(50% - 190px - 16px);
                width: initial;
                max-height: max-content;
            }
        }
    }
}