.overviewrental_section {
  overflow: hidden;
}
.overviewrental_section .overviewrental_media {
  width: 100%;
}
.overviewrental_section .overviewrental_media div {
  background-size: 100% 100%;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, transparent 20%), url("../../../assets/image/overviewrentalmobile.jpg");
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
}
.overviewrental_section .overviewrental_content {
  text-align: center;
  margin-top: -42px;
  box-shadow: -12px -2px 19px 20px black;
}
.overviewrental_section .overviewrental_content h1 {
  font-family: amazonEmberbold;
}
.overviewrental_section .overviewrental_content a {
  font-family: amazonEmberbold;
}
.overviewrental_section .overviewrental_content .overviewrentallink {
  display: flex;
  justify-content: center;
}
.overviewrental_section .overviewrental_content .overviewrentallink a {
  max-width: 299px;
}

@media (min-width: 456px) {
  .overviewrental_section {
    position: relative;
  }
  .overviewrental_section .overviewrental_media {
    width: 100%;
  }
  .overviewrental_section .overviewrental_media div {
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 12%, transparent 90%), url("../../../assets/image/overviewrentalmobile.jpg");
  }
  .overviewrental_section .overviewrental_content {
    text-align: center;
    position: absolute;
    top: 0px;
    padding-top: 40px;
    background-color: transparent;
    min-width: 200px;
    max-width: 50%;
    background-image: linear-gradient(to right, #000 44%, transparent 99%);
    box-shadow: none;
    padding-top: 67px;
  }
  .overviewrental_section .overviewrental_content h1 {
    font-family: amazonEmberbold;
    font-size: 44px;
    text-align: left;
  }
  .overviewrental_section .overviewrental_content p {
    margin-bottom: 20px;
    text-align: left;
  }
  .overviewrental_section .overviewrental_content .overviewrentallink {
    display: flex;
    justify-content: flex-start;
  }
  .overviewrental_section .overviewrental_content .overviewrentallink a {
    max-width: 299px;
  }
}
@media (min-width: 547px) {
  .overviewrental_section .overviewrental_media {
    width: 100%;
  }
  .overviewrental_section .overviewrental_media div {
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, transparent 20%), url("../../../assets/image/overviewrental.jpg");
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1280px) {
  .overviewrental_section .overviewrental_content {
    top: 53px;
    left: 21px;
    padding: 10px;
  }
  .overviewrental_section h1 {
    font-family: amazonEmber !important;
    font-weight: 900;
    letter-spacing: 4px;
  }
  .overviewrental_section p {
    font-family: amazonEmber !important;
  }
  .overviewrental_section a {
    font-weight: 900;
  }
}/*# sourceMappingURL=overviewrental.css.map */