@import '../../styles/variables';

.header_mobile {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    background-color: $primaryColor;
    padding: 0px 10px 0px 0px;
    position: sticky;
    top: 12px;
    cursor: pointer;

    .mobile_menu {
        &:hover .header_sidebar {
            display: flex;
        }
    }

    .mobile_menu {
        display: flex;
        align-items: center;
        color: $azonwhite;
        padding: 14px;
        width: 80px;

        h1 {
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 1px;
        }

        &:hover .menu_bar_arrow {
            transition: 0.2s;
            transform: rotate(180deg);
        }

        div {
            svg {
                width: 15px;
                font-weight: 900;
                height: auto;
            }

        }
    }

    .mobile_logo {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            width: 96px;
            margin-left: -8px;
        }
    }

    .mobile_user_options {
        text-align: right;
        justify-content: flex-end;
        display: flex;


        .search_drop_down {
            gap: 10px;

            .search_icon {
                padding: -1px 12px;

                &:hover {
                    background-color: $secondaryColor;
                }

                svg {
                    width: 30px;
                    fill: rgb(155, 153, 153);
                    height: auto;
                }
            }

            .search_bar {
                width: 100vw;
                right: -10px;
                height: 100vh;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 12px;
                padding-left: 22px;
                top: 54px;

                .search_bar_wrapper {
                    width: 100%;
                    background-color: $inputbgcolor;

                    input {
                        outline: none;
                    }

                    span {
                        fill: $azongray;
                    }
                }
            }

            .account_icon {
                padding: -1px 17px;

                svg {
                    width: 30px;
                    fill: white;
                    height: auto;
                    padding: 2px;
                }

                &:hover .header_account_sidebar {
                    display: flex;
                }
            }
        }
    }
}

@media(min-width:880px) {
    .header_mobile {
        display: none;
    }
}

// for big screens
header {
    font-family: amazonEmber;
    font-weight: 100;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px;
    display: none;
    cursor: pointer;

    div {
        display: flex;
        align-items: center;

        .logo {
            width: max-content;
            padding: 8px 10px;


            img {
                width: 180px;
                height: 16px;

            }
        }

        .nav_list_wrapper {
            width: 100%;

            nav {
                width: 100%;

                .nav_container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-wrap: nowrap;

                    .nav_list_item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 12px;
                        font-size: 18px;
                        letter-spacing: 1px;
                        cursor: pointer;
                        color: $azongray;
                        transition: all 0.1s ease-in;

                        &:hover {
                            color: $azonwhite;
                            background-color: $secondaryColor;
                        }

                        &:hover svg {
                            transition: 0.2s;
                            transform: rotate(180deg);
                        }

                        div {
                            svg {
                                width: 12px;
                                fill: white;
                                color: white;
                            }
                        }

                        &:hover .navitemdrop {
                            display: flex !important;
                            color: $azongray;
                        }

                        .navitemdrop li {
                            &:hover {
                                background-color: $azonwhite;
                                color: $primaryColor;
                                border-radius: 8px;
                            }

                        }

                        .navitemdrop .arc {
                            &:hover {
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;

                            }

                        }
                    }

                }
            }
        }

        .user_options {
            color: white;
            width: max-content;
            align-items: center;

            .search_icon {
                width: max-content;

                .search_bar {
                    top: 32px;
                    right: -132px;
                    width: 70vw;
                    padding: 15px 20px 20px 20px;

                    .search_bar_wrapper {
                        width: 100%;
                        border-radius: 4px;
                        background-color: $inputbgcolor;
                        padding: 10px;

                        input {
                            outline: none;
                        }
                    }
                }

                div {
                    padding: 0px 10px;

                    svg {
                        width: 25px;
                        fill: rgb(155, 153, 153);
                    }
                }
            }

            .Try_for_free {
                text-wrap: nowrap;
                width: max-content;
                letter-spacing: 1px;
                padding: 0px 10px 0px 10px;
            }

            .languages_option {
                width: max-content;

                &:hover .navitemdrop {
                    display: flex;
                    color: $azongray;

                }

                &:hover {
                    color: $azonwhite;
                    background-color: $secondaryColor;
                }

                &:hover svg {
                    transition: 0.2s;
                    transform: rotate(180deg);
                }

                div {
                    margin-left: -0px;

                    svg {
                        width: 20px;
                        fill: white;
                    }
                }

                .navitemdrop li {
                    &:hover {
                        background-color: $azonwhite;
                        color: $primaryColor;
                        border-radius: 6px;
                    }
                }
            }

            .account_icon {
                padding: 0px 10px;
                margin-left: 10px;

                &:hover .navitemdrop {
                    display: flex;
                    color: $azongray;


                }

                &:hover {
                    color: $azonwhite;
                    background-color: $secondaryColor;
                }

                .navitemdrop li {
                    &:hover {
                        background-color: $azonwhite;
                        color: $primaryColor;
                        border-radius: 7px;
                    }
                }

                div {
                    svg {
                        width: 30px;
                        background-color: white;
                        padding: 0px;
                        border-radius: 100%;
                    }
                }
            }

        }
    }
}

@media (min-width:880px) {
    header {
        display: block;
    }
}

@media(min-width:768px) {
    header {

        div {
            z-index: 999;
        }
    }
}

@media(min-width:1024px) {
    header {
        font-family: amazonEmber;
        font-weight: 300;
        background-color: $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;

        div {
            z-index: 999;
            display: flex;
            align-items: center;
            gap: 14px;

            .logo {
                width: max-content;
                padding: 8px 10px;


                img {
                    width: 200px;
                    height: 20px;

                }
            }

            .nav_list_wrapper {
                width: 100%;
                padding-right: 23px;

                nav {
                    width: 100%;

                    .nav_container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-wrap: nowrap;
                        gap: 8px;

                        .nav_list_item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 8px 8px;
                            font-size: 18px;
                            letter-spacing: 1px;

                            div {
                                margin-left: 5px;

                                svg {
                                    width: 20px;
                                    fill: white;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .user_options {
                color: $azongray;
                width: max-content;
                align-items: center;

                .search_icon {
                    width: max-content;

                    .search_bar {
                        right: -170px;
                        top: 36px;
                        width: 70vw;
                        padding: 10px 20px;
                        cursor: auto;

                    }

                    div {
                        padding: 0px 10px;

                        svg {
                            width: 30px;
                            fill: rgb(155, 153, 153);
                        }
                    }
                }

                .Try_for_free {
                    text-wrap: nowrap;
                    width: max-content;
                    letter-spacing: 1.8px;
                    padding: 0px 10px 0px 0px;
                }

                .languages_option {
                    width: max-content;

                    div {
                        margin-left: -23px;

                        svg {
                            width: 20px;
                            fill: white;
                        }
                    }
                }

                .account_icon {
                    padding: 0px 10px;
                    margin-left: -10px;

                    div {
                        svg {
                            width: 30px;
                            background-color: white;
                            padding: 0px;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}



@media(min-width:1440px) {
    header {
        font-family: amazonEmber;
        font-weight: 300;
        background-color: $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;

        div {
            display: flex;
            align-items: center;
            gap: 22px;


            .logo {
                width: max-content;
                padding: 8px 10px;


                img {
                    width: 200px;
                    height: 20px;

                }
            }



            .user_options {

                .search_icon {

                    .search_bar {
                        right: -250px;
                    }


                }


            }
        }
    }
}