.header_mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  background-color: #00050D;
  padding: 0px 10px 0px 0px;
  position: sticky;
  top: 12px;
  cursor: pointer;
}
.header_mobile .menu:hover .header_sidebar {
  display: flex;
}
.header_mobile .mobile_menu {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 14px;
  width: 80px;
}
.header_mobile .mobile_menu h1 {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}
.header_mobile .mobile_menu:hover .menu_bar_arrow {
  transition: 0.2s;
  transform: rotate(180deg);
}
.header_mobile .mobile_menu div svg {
  width: 15px;
  font-weight: 900;
  height: auto;
}
.header_mobile .mobile_logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header_mobile .mobile_logo img {
  width: 96px;
  margin-left: -22px;
}
.header_mobile .mobile_user_options {
  text-align: right;
  justify-content: flex-end;
  display: flex;
}
.header_mobile .mobile_user_options .search_drop_down {
  gap: 10px;
}
.header_mobile .mobile_user_options .search_drop_down .search_icon {
  padding: -1px 12px;
}
.header_mobile .mobile_user_options .search_drop_down .search_icon:hover {
  background-color: #191E25;
}
.header_mobile .mobile_user_options .search_drop_down .search_icon svg {
  width: 30px;
  fill: rgb(155, 153, 153);
  height: auto;
}
.header_mobile .mobile_user_options .search_drop_down .search_bar {
  width: 100vw;
  right: -10px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  padding-left: 22px;
  top: 54px;
}
.header_mobile .mobile_user_options .search_drop_down .search_bar .search_bar_wrapper {
  width: 100%;
  background-color: #33373D;
}
.header_mobile .mobile_user_options .search_drop_down .search_bar .search_bar_wrapper input {
  outline: none;
}
.header_mobile .mobile_user_options .search_drop_down .search_bar .search_bar_wrapper span {
  fill: #AAAAAA;
}
.header_mobile .mobile_user_options .search_drop_down .account_icon {
  padding: -1px 17px;
}
.header_mobile .mobile_user_options .search_drop_down .account_icon svg {
  width: 30px;
  fill: white;
  height: auto;
  padding: 2px;
}
.header_mobile .mobile_user_options .search_drop_down .account_icon:hover .header_account_sidebar {
  display: flex;
}

@media (min-width: 880px) {
  .header_mobile {
    display: none;
  }
}
header {
  font-family: amazonEmber;
  font-weight: 100;
  background-color: #00050D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px 0px 40px;
  display: none;
  cursor: pointer;
}
header div {
  display: flex;
  align-items: center;
}
header div .logo {
  width: -moz-max-content;
  width: max-content;
  padding: 8px 10px;
}
header div .logo img {
  width: 180px;
  height: 16px;
}
header div .nav_list_wrapper {
  width: 100%;
}
header div .nav_list_wrapper nav {
  width: 100%;
}
header div .nav_list_wrapper nav .nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
header div .nav_list_wrapper nav .nav_container .nav_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #AAAAAA;
  transition: all 0.1s ease-in;
}
header div .nav_list_wrapper nav .nav_container .nav_list_item:hover {
  color: #FFFFFF;
  background-color: #191E25;
}
header div .nav_list_wrapper nav .nav_container .nav_list_item:hover svg {
  transition: 0.2s;
  transform: rotate(180deg);
}
header div .nav_list_wrapper nav .nav_container .nav_list_item div svg {
  width: 12px;
  fill: white;
  color: white;
}
header div .nav_list_wrapper nav .nav_container .nav_list_item:hover .navitemdrop {
  display: flex !important;
  color: #AAAAAA;
}
header div .nav_list_wrapper nav .nav_container .nav_list_item .navitemdrop li:hover {
  background-color: #FFFFFF;
  color: #00050D;
}
header div .user_options {
  color: white;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
header div .user_options .search_icon {
  width: -moz-max-content;
  width: max-content;
}
header div .user_options .search_icon .search_bar {
  top: 32px;
  right: -132px;
  width: 70vw;
  padding: 15px 20px 20px 20px;
}
header div .user_options .search_icon .search_bar .search_bar_wrapper {
  width: 100%;
  border-radius: 4px;
  background-color: #33373D;
  padding: 10px;
}
header div .user_options .search_icon .search_bar .search_bar_wrapper input {
  outline: none;
}
header div .user_options .search_icon div {
  padding: 0px 10px;
}
header div .user_options .search_icon div svg {
  width: 25px;
  fill: rgb(155, 153, 153);
}
header div .user_options .Try_for_free {
  text-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 1px;
  padding: 0px 10px 0px 10px;
}
header div .user_options .languages_option {
  width: -moz-max-content;
  width: max-content;
}
header div .user_options .languages_option:hover .navitemdrop {
  display: flex;
  color: #AAAAAA;
}
header div .user_options .languages_option:hover {
  color: #FFFFFF;
  background-color: #191E25;
}
header div .user_options .languages_option:hover svg {
  transition: 0.2s;
  transform: rotate(180deg);
}
header div .user_options .languages_option div {
  margin-left: 0px;
}
header div .user_options .languages_option div svg {
  width: 20px;
  fill: white;
}
header div .user_options .languages_option .navitemdrop li:hover {
  background-color: #FFFFFF;
  color: #00050D;
}
header div .user_options .account_icon {
  padding: 0px 10px;
  margin-left: 10px;
}
header div .user_options .account_icon:hover .navitemdrop {
  display: flex;
  color: #AAAAAA;
}
header div .user_options .account_icon:hover {
  color: #FFFFFF;
  background-color: #191E25;
}
header div .user_options .account_icon .navitemdrop li:hover {
  background-color: #FFFFFF;
  color: #00050D;
}
header div .user_options .account_icon div svg {
  width: 30px;
  background-color: white;
  padding: 0px;
  border-radius: 100%;
}

@media (min-width: 880px) {
  header {
    display: block;
  }
}
@media (min-width: 1024px) {
  header {
    font-family: amazonEmber;
    font-weight: 300;
    background-color: #00050D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  header div {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  header div .logo {
    width: -moz-max-content;
    width: max-content;
    padding: 8px 10px;
  }
  header div .logo img {
    width: 200px;
    height: 20px;
  }
  header div .nav_list_wrapper {
    width: 100%;
    padding-right: 23px;
  }
  header div .nav_list_wrapper nav {
    width: 100%;
  }
  header div .nav_list_wrapper nav .nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    gap: 8px;
  }
  header div .nav_list_wrapper nav .nav_container .nav_list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  header div .nav_list_wrapper nav .nav_container .nav_list_item div {
    margin-left: 5px;
  }
  header div .nav_list_wrapper nav .nav_container .nav_list_item div svg {
    width: 20px;
    fill: white;
    color: white;
  }
  header div .user_options {
    color: #AAAAAA;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
  }
  header div .user_options .search_icon {
    width: -moz-max-content;
    width: max-content;
  }
  header div .user_options .search_icon .search_bar {
    right: -170px;
    top: 36px;
    width: 70vw;
    padding: 10px 20px;
    cursor: auto;
  }
  header div .user_options .search_icon div {
    padding: 0px 10px;
  }
  header div .user_options .search_icon div svg {
    width: 30px;
    fill: rgb(155, 153, 153);
  }
  header div .user_options .Try_for_free {
    text-wrap: nowrap;
    width: -moz-max-content;
    width: max-content;
    letter-spacing: 1.8px;
    padding: 0px 10px 0px 0px;
  }
  header div .user_options .languages_option {
    width: -moz-max-content;
    width: max-content;
  }
  header div .user_options .languages_option div {
    margin-left: -23px;
  }
  header div .user_options .languages_option div svg {
    width: 20px;
    fill: white;
  }
  header div .user_options .account_icon {
    padding: 0px 10px;
    margin-left: -10px;
  }
  header div .user_options .account_icon div svg {
    width: 30px;
    background-color: white;
    padding: 0px;
    border-radius: 100%;
  }
}
@media (min-width: 1440px) {
  header {
    font-family: amazonEmber;
    font-weight: 300;
    background-color: #00050D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  header div {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  header div .logo {
    width: -moz-max-content;
    width: max-content;
    padding: 8px 10px;
  }
  header div .logo img {
    width: 200px;
    height: 20px;
  }
  header div .user_options .search_icon .search_bar {
    right: -250px;
  }
}/*# sourceMappingURL=header.css.map */