.movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .shadow_mobile {
  width: 30px;
  height: 100%;
  position: absolute;
  left: -30px;
  box-shadow: 12px 21px 130px 80px black;
}
.movie_detail_page .movie_detail_page_main .movie_detail_page_main_content {
  margin-top: -60px;
  z-index: 10;
  position: relative;
}
.movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_name_detail_page {
  background-image: linear-gradient(to bottom, transparent, rgb(26, 24, 24));
  color: white;
  padding: 10px;
}
.movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content {
  padding-top: 12px;
  box-shadow: 2px 2px 221px 122px black;
  color: white;
}

.movie_detail_page .movie_details_icons div span {
  transition: 0.3s;
  fill: black;
}
.movie_detail_page .movie_details_icons div span:hover path {
  fill: black;
}
.movie_detail_page .movie_details_icons div span:hover p {
  display: flex;
  text-wrap: nowrap;
}
.movie_detail_page .movie_details_icons div p {
  transition: 0.3s;
  display: none;
}

@media (min-width: 469px) {
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .shadow_mobile {
    width: 30px;
    height: 100px;
    position: absolute;
    left: -30px;
    box-shadow: 12px 21px 30px 20px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper {
    height: 320px !important;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage {
    background-color: black;
    width: 47%;
    z-index: 1;
    box-shadow: 12px 12px 320px 127px black;
    display: block;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage .shadow_big {
    box-shadow: 12px 12px 122px 60px black;
    height: 100%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content {
    margin-top: -161px;
    z-index: 10;
    position: relative;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_name_detail_page {
    background-image: none;
    color: white;
    padding: 10px;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content {
    padding-top: 12px;
    box-shadow: 2px 2px 21px black;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, black, black, black, rgb(0, 0, 0));
    color: white;
  }
}
.movie_detail_page .popup_detail_page {
  background-color: rgba(0, 5, 13, 0.5);
}

@media (min-width: 924px) {
  .movie_detail_page .popup_detail_page {
    background-color: rgba(0, 5, 13, 0.5);
  }
  .movie_detail_page .popup_detail_page .popup_detail_page_container {
    top: calc(50% - 80px - 20px);
    left: calc(50% - 230px - 20px);
    width: 47%;
    bottom: unset;
  }
  .movie_detail_page .popup_detail_page .popup_detail_page_container .popup_social_links {
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .movie_detail_page .popup_detail_page {
    background-color: rgba(0, 5, 13, 0.5);
  }
  .movie_detail_page .popup_detail_page .popup_detail_page_container {
    top: calc(50% - 80px - 20px);
    left: calc(50% - 230px - 10px);
    width: 42%;
    bottom: unset;
    font-size: 21px;
  }
  .movie_detail_page .popup_detail_page .popup_detail_page_container svg {
    width: 34px;
    height: 34px;
  }
  .movie_detail_page .popup_detail_page .popup_detail_page_container .popup_social_links {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .shadow_mobile {
    width: 30px;
    height: 100px;
    position: absolute;
    left: -30px;
    box-shadow: 12px 21px 130px 80px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper {
    height: 520px !important;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage {
    background-color: black;
    width: 47%;
    z-index: 1;
    box-shadow: 12px 12px 3220px 47px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage .shadow_big {
    box-shadow: 12px 12px 1222px 460px black;
    height: 100%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content {
    margin-top: -340px;
    z-index: 10;
    position: relative;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_name_detail_page {
    background-image: none;
    color: white;
    padding: 10px;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content {
    padding-top: 12px;
    box-shadow: none;
    background-color: none;
    background-image: none;
    color: white;
  }
}
@media (min-width: 769px) {
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .shadow_mobile {
    width: 30px;
    height: 100px;
    position: absolute;
    left: -30px;
    box-shadow: 12px 21px 130px 80px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper {
    height: 520px !important;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage {
    background-color: black;
    width: 47%;
    z-index: 1;
    box-shadow: 12px 12px 3220px 47px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage .shadow_big {
    box-shadow: 12px 12px 1222px 460px black;
    height: 100%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content {
    margin-top: -440px;
    z-index: 10;
    position: relative;
    width: 86%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_name_detail_page {
    background-image: none;
    color: white;
    padding: 10px;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content {
    padding-top: 12px;
    box-shadow: none;
    background-color: none;
    background-image: none;
    color: white;
    display: flex;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content .movie_detail_options {
    order: 2;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content .movie_description_wrapper {
    order: 0;
  }
  .movie_detail_page .movie_detail_page_main .shadow_last {
    margin-top: 12px;
    box-shadow: 12px 12px 932px 122px black;
    background-color: black;
  }
  .movie_detail_page .movie_details_icons span {
    transition: 0.3s;
  }
  .movie_detail_page .movie_details_icons span:hover path {
    fill: black;
  }
}
@media (min-width: 1270px) {
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .shadow_mobile {
    width: 30px;
    height: 100px;
    position: absolute;
    left: -30px;
    box-shadow: 12px 21px 130px 80px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper {
    height: 520px !important;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage {
    background-color: black;
    width: 47%;
    z-index: 1;
    box-shadow: 12px 12px 3220px 47px black;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_image_wrapper_mobile .detail_page_image_big_wrapper .fakeImage .shadow_big {
    box-shadow: 12px 12px 1222px 460px black;
    height: 100%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content {
    margin-top: -480px;
    z-index: 10;
    position: relative;
    width: 86%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_name_detail_page {
    background-image: none;
    color: white;
    padding: 10px;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content {
    padding-top: 12px;
    box-shadow: none;
    background-color: none;
    background-image: none;
    color: white;
    display: flex;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content .movie_detail_page_desciption {
    width: 80%;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content .movie_detail_options {
    order: 2;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .ordering_content .movie_description_wrapper {
    order: 0;
  }
  .movie_detail_page .movie_detail_page_main .movie_detail_page_main_content .movie_detail_note {
    background-color: black;
    box-shadow: 12px 12px 32px 22px black;
    z-index: -100;
    padding-bottom: 6%;
    margin-top: 22px;
  }
  .movie_detail_page .movie_details_icons span {
    transition: 0.3s;
  }
  .movie_detail_page .movie_details_icons span:hover path {
    fill: black;
  }
}
.movie_detail_page footer {
  padding-top: 50px;
  background-color: #00050D;
  z-index: 1;
  position: relative;
}
.movie_detail_page footer .append_lines .footer_links {
  margin-bottom: 10px;
}
.movie_detail_page footer .append_lines .copyright {
  line-height: 16px;
}

@media (min-width: 669px) {
  .movies_page_wrapper footer {
    background-color: #00050D;
    height: 113px;
    padding-top: 47px;
  }
  .movies_page_wrapper footer .append_lines {
    margin-top: 4px !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movies_page_wrapper footer .append_lines .footer_links {
    margin: 0px 13px 0px 0px;
    margin-bottom: initial;
    font-size: 13px;
    color: #79B8F3;
  }
}
@media (min-width: 1024px) {
  .movies_page_wrapper footer {
    background-color: #00050D;
    height: 117px;
    padding-top: 47px;
  }
  .movies_page_wrapper footer .append_lines {
    margin-top: 4px !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movies_page_wrapper footer .append_lines .footer_links {
    margin: 0px 13px 0px 0px;
    margin-bottom: initial;
    color: #79B8F3;
  }
}/*# sourceMappingURL=detailmain.css.map */